h1{
   color:blue;
}
.line{
     height: 6px;
    background-color: black;
    width: 75px;
    margin: 8px auto;
}
img{
    height:400px;
    width:400px;
    transition:transform .2s;
}
body{
    text-align: center;
    background-color: chartreuse;
}
p{
    color:red;
}
img:hover{
    transform:scale(0.9);
}